@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
html,
body {
  @apply bg-white text-black;
  color-scheme: light;
}

#nprogress .bar {
  background: rgba(0, 0, 255) !important;
  height: 3px !important;
}

/* Spinner customization */
#nprogress .spinner-icon {
  border-top-color: blue !important;
  border-left-color: blue !important;
}